body {
  font-family: "Verdana", sans-serif;
  background-image: url("images/bearBG.gif");
  background-size: cover;
  background-color: rgb(240, 233, 224);
  padding-left:15%;
  padding-right: 15%;
  text-align: center;
}

#mainTitle {
  font-size: 50px;
  color: #ec7676;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1 {
  text-align: center;
  padding: 1%;
}

ul {
  list-style-type: none;
  padding: 10px;
  text-align: justify;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e35747;
}

#taskList,
.container,
#newTaskInput,
button {
  font-size: 20px;
}

.container,
button,
#newTaskInput {
  border-radius: 8px;
}

.container {
  padding: 50px;
  background-color: #ffffff86;
  text-align: left;
}

#newTaskInput {
  padding-left: 2%;
  padding-right: 2%;
}

#taskList, .container, #newTaskInput, button {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.container, button, #newTaskInput{
    border-radius: 8px;
}

.container{
    padding: 50px;
    background-color: #ffffff86;
}

#newTaskInput{
    padding-left: 2%;
    padding-right: 2%;
}
